@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
.searchForm {
  display: flex;
  width: 100%;
  max-width: 300px;

  @include mobile {
    flex: 1;
    max-width: none;
  }
}

.searchInput {
  flex: 1;
  height: 42px;
  padding: 0 14px;
  font-size: 18px;
  border: 1px solid $gray;
  border-right: none;
  background: $white;
  outline: none;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    border-color: $primary;
  }

  @media (max-width: 768px) {
    height: 36px;
    font-size: 13px;
    padding: 0 10px;
  }
}

.searchButton {
  width: 46px;
  height: 42px;
  background: $main;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;

  svg {
    width: 18px;
    height: 18px;
    fill: $white;
  }

  @include mobile {
    width: 40px;
    height: 36px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
