@mixin ellipsis($max-width: 100%) {
  white-space: nowrap;
  overflow: hidden;
  max-width: $max-width;
  text-overflow: ellipsis;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}