@use './variables' as *;
@use './mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  //overflow-x: hidden;
}

body {
  font-family: $font-primary;
  background-color: $dark;
  color: $light;
  line-height: 1.6;
  //overflow-x: hidden;
  //max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  @include container;
}

// Utility classes
.section {
  padding: $spacing-2xl 0;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: $spacing-lg;
  color: $white;

  @include tablet {
    font-size: 20px;
  }
}