@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $dark;
  color: $light;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}