@use '../../../styles/mixins' as *;
.title {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  line-height: 1.4;
  @include ellipsis(3);

  .item:hover & {
    text-decoration: underline;
  }

  @include mobile {
    font-size: 13px;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}
.image {
  position: relative;
  width: 100px;
  min-width: 100px;
  height: 70px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include mobile {
    width: 90px;
    min-width: 90px;
    height: 60px;
  }
}
