@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.footer {
  padding: $spacing-2xl 0 $spacing-lg;
  margin-top: $spacing-2xl;
  border-top: 1px solid $gray-dark;
}

.grid {
  @include grid(4, $spacing-xl);
  margin-bottom: $spacing-xl;

  @include tablet {
    @include grid(2, $spacing-lg);
  }

  @include mobile {
    @include grid(1, $spacing-lg);
  }
}

.brand {
  h3 {
    font-size: 24px;
    color: $primary;
    margin-bottom: $spacing-sm;
  }

  p {
    color: $gray;
    font-size: 14px;
  }
}

.links {
  h4 {
    font-size: 16px;
    color: $white;
    margin-bottom: $spacing-md;
  }

  a {
    display: block;
    color: $gray;
    font-size: 14px;
    padding: $spacing-xs 0;
    transition: color $transition-fast;

    &:hover {
      color: $primary;
    }
  }
}

.social {
  h4 {
    font-size: 16px;
    color: $white;
    margin-bottom: $spacing-md;
  }
}


.bottom {
  border-top: 1px solid $gray-dark;
  padding-top: $spacing-lg;
  text-align: center;

  p {
    color: $gray-dark;
    font-size: 14px;
  }
}